body {
	overflow: visible;
}

#body {
	width: 98.75%;
	background-color: #999999;
	text-align: left;
	height: 95%;
}

#icon {
	float: right;
	margin: 5px;
}

h1 {
	font-family: 'Fauna One', serif;
	text-align: left;
	font-size: 40px;
	color: #EEEEEE;
	margin: 10px;
	font-size: 25px;
	text-shadow: 2px 1px 5px #000000;
}

h2 {
	font-family: 'Verdana', serif;
	text-align: left;
	font-size: 36;
	margin-left: 1em;
}

body {
	background-color: #666666;
}

#header {
	background-color: #222233;
	padding: 1px;
}

#selectBox {
	width: 400px;
	height: 50%;
	background-color: #DDDDDD;
}

#searchBox {
	width: 400px;
	height: 45%;
	background-color: #CCCCCC;
}

#main {
	background-color: #FFFFFF;
	height: 100%;
	width: 70%;
	margin-bottom: 5px;
	padding-top: 1px;
	float: right;
}

#leftBar {
	height: 100%;
	width: 290px;
	float: left;
}

#optionsBar {
	background-color: #999999;
	list-style: none;
	height: 4.6em;
}

#optionTech {
	float: left;
	margin-left: -1.6em;
}

#optionAppl {
	float: left;
	margin-left: 0.5em;
}

#optionFurn {
	float: left;
	margin-left: 0.5em;
}

#optionMisc {
	float: left;
	margin-left: 0.5em;
}

span {
    display: block;
    overflow: hidden;
}

p {
	font-family: Verdana, serif;
	margin-left: 1em;
}

ul {
	list-style: none;
	display: block;
	margin-left: 0em;
}

li {
	margin-left: auto;
}

#dropDown1 {
	background-color: #FFFFFF;
	border: solid 1px black;
	padding: 3px;
	display: none;
}

#dropDown2 {
	background-color: #FFFFFF;
	border: solid 1px black;
	padding: 3px;
	display: none;
}

#optionComp {
	margin-top: 5px;
}