<head>
    <title>Stuff Index</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeGV6AxwkBZ6-Vjh3KyDeTef83y4R6AUQ&sensor=false" />
    <script>
        function initialize()
        {
            var mapProp = {
            center:new google.maps.LatLng(51.508742,-0.120850),
            zoom:6,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap")
        ,mapProp);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body align='center' style="overflow: hidden" scrolling="no">
    <div id='body' align='left'>
        <div id='header'>
            <h1><b>Stuff Index</b></h1>
        </div>
        <div id='leftBar'>
            <div id='selectBox'>
                <div id='optionsBar'>
                    <div id='optionButton' img src='img\Categories\Technology.png' height='60px' width='60px'>
                    </div>
                </div>
            </div>
            <div id='searchBox'></div>
        </div>
        <%block name="content"/>
    </div>
</body>
